/* .p1{
    background-color: black;
    color: white;
}

.p2{
    font-size: 25px;
}
 */


 .stopWatchBox
{
    width: 100%;
    border: 1px solid red;
    display: flex;
    justify-content: space-evenly;

}

.stopWatchBox div{
    border: 1px solid black;
    width: 200px;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;        
}
.stopWatchBox div p{
    margin: 0;
}